html{
    font-size: 62.5%; /* 16px * 62,5 = 10px = 1rem */
    box-sizing: border-box;
}

body{
    font: 1.6rem Helvetica ;
    height: 100vh;
    margin: 0;
}
.grid-container{
  display: grid;
  grid-template-areas: 
        "header" 
         "main" 
        "footer" ;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem; 
    height: 100% ;
}

.header{
    grid-area: header;
    background-color: darkorange;
    color: #ffffff;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 0.5rem;
    
}
.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    
}
.header-links a{
 color: #ffffff; 
 text-decoration: none;
}
.header-links a:hover{
    color: darkorchid;
}

.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: darkorange;
    color: #ffffff;
    display: flex;
    justify-content: center ;
    align-items: center ;
}

a{
    text-decoration: none;
}
a:hover{
   color: darkorchid; 
}
/* HOME SCREAN */

.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.products li {
    list-style-type: none;
    padding: 2rem;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem #c0c0c0 solid;
    border-radius: 2rem;
    background-color: darkorange ;
    box-shadow: 10px 2px 20px #000000;
}
.product{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.product-name {
    text-decoration-color: darkorchid;
    font-size: 4rem;
    font-weight: bold;
    font-family: monospace;
}
.product-brand {
    font-size: 2rem;
    color: aliceblue;
    font-family: monospace;
}

.product-image{
    max-width: 34rem;
    max-height: 34rem;
}
.product-rating{
    margin-bottom: 1rem;
}
.product-button{
    width: 100%;
    height: 5rem;
    background-color: darkviolet;
    font: 4rem  solid ;
    color: white;
    font-family: monospace;
    cursor: pointer;
}
/* sidebar */

.brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none ;
    color: #ffffff;
    cursor: pointer ;
}
.sidebar{
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar-close-button{
    border-radius: 50%;
    border: .1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute ;
    right: .5rem;
    top : 1.5rem;
}